/* Reset some basic elements */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: 'Your font', sans-serif;
    background: linear-gradient(to bottom right, #313131 10%, #4d4d4d 100%);
    color: rgb(255, 255, 255);
    overflow-x: hidden;
    display: flex;
    /* New line */
    flex-direction: column;
    /* New line */
    scroll-behavior: smooth;
}

header {
    padding: 0 3vh;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    /* Prevent the header from shrinking */
}

footer {
    padding: 0 3vh;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    /* Prevent the header from shrinking */
}

nav .logo {
    font-size: 2em;
    /* Example logo size */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#headerlogo {
    height: 5em;
    border-radius: 50%;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.custom-audio-player {
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    min-width: 30%;
}

.play-pause-btn,
.mute-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.play-pause-btn:before {
    content: '▶️';
}

.time {
    margin: 0 5px;
}

.track-info {
    flex-grow: 1;
    text-align: center;
}

.volume-control {
    margin-left: 10px;
}

input[type="range"] {
    width: 100%;
}

#currentTime,
#duration {
    font-size: 0.9rem;
}