<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'main/styles/index.css'%}">
    <!-- <script src="{%static 'main/scripts/index.js'%}"></script> -->
</head>

<body>
    {% block header %}
    <header id="header">
        <img src="{%static 'main/images/headerlogo.png'%}" id="headerlogo">
        <nav>
            <ul>
                <li><a href="#work" id="work-button" class="scroll-animation">Work</a></li>
                <li><a href="{% url 'main:portfolio' %}">Portfolio</a></li>
                <li><a href="resume.pdf" download="ArtistResume.pdf">Resume</a></li>
            </ul>
        </nav>
    </header>
    {% endblock %}
    <main>
        <section class="hero">
            <div class="main-height-container">

                <img src="{%static 'main/images/daniel-nobg.png'%}" id="meImage">

                <div class="social-media-links">
                    <a href="https://www.instagram.com/daniel_deganis/" target="_blank">
                        <img src="{%static 'main/images/instagram.png'%}" alt="Instagram">
                    </a>
                </div>

                <div class="intro">
                    <h1>I'm <span id="textBlue">Daniel.</span><br>Im a producer.</h1>
                    <span id="textWhite"></span>
                    <p>
                        <span id="textWhite">Music Production and Mixing to a <span id="textBlue">Professional
                                Standard.</span></span>
                    </p>
                </div>
            </div>
        </section>

        <section class="work">
            <div class="text-side">
                <h2><span id="textWhite">Presenting my portfolio,</span> Showcasing my work.<br><br></h2>
                <p>
                    <span id="textWhite">Daniel Deganis is a <span id="textBlue">music Producer/Engineer</span> from
                        Halifax, NS. Daniel has
                        experience working in
                        various genres including <span id="textBlue">Hip Hop, R&B, Indie Rock, Singer Songwriter</span>.
                        Daniel is a <span id="textBlue">graduate</span> from
                        the Music Production and Engineering program at NSCC that specializes in <span
                            id="textBlue">contemporary music
                            production and mixing</span>. All inquiries to dadeganis@gmail.com
                    </span>
                    <br><br>
                </p>
            </div>

            <div class="image-side">
                <div id="computerImageContainer">
                    <img id="computerImage" src="{%static 'main/images/dan.png'%}">
                </div>
            </div>
        </section>

        <section class="performance-history">
            <div class="container">
                <h2>Performance History</h2>
                <ul>
                    <li>Echo Canyon Live at Gus’ Pub - April 6th 2023</li>
                    <li>Echo Canyon Live at Sigma Chi - April 7th 2023</li>
                    <li>Echo Canyon Live at Radstorm - June 15th 2023</li>
                    <li>Echo Canyon Live at Woodside Tavern - July 29th 2023</li>
                    <li>Echo Canyon Live at The Dart Gallery - August 26th 2023</li>
                    <li>Kye Clayton Live at Nova Scotia Music Week - November 7th 2023</li>
                    <li>Echo Canyon Live at Woodside Tavern - December 1st 2023</li>
                    <li>LDN Records opening for Xzibit at The Dome - March 3rd 2024</li>
                </ul>
            </div>


            <a href="#header" id="toTopButton" class="scroll-animation">Back to top</a>
        </section>

    </main>

    {% block footer %}
    <footer>
        <p>&copy Daniel Deganis 2024</p>
    </footer>
    {% endblock footer %}

    <!-- Scroll animation script -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Find the "Work" button element
            var workButton = document.getElementById('work-button');

            // Add a click event listener to the button
            workButton.addEventListener('click', function (event) {
                // Prevent the default behavior of the link
                event.preventDefault();

                // Find the first element with the "work" class
                var workSection = document.querySelector('.work');

                // Scroll to the "Work" section with smooth animation
                workSection.scrollIntoView({ behavior: 'smooth' });
            });
        });        
    </script>
</body>

</html>